extends ../layouts/base.pug

block content
    form.basketForm(action="/bikeCreate", method="post")
        input(type="text" name="title"  placeholder="자전거 이름" required) 
        input(type="number"  name="price"  placeholder="가격" required) 
        SELECT.selectbox(name="brand")
            option(value="알톤") 알톤
            option(value="AGE") AGE
            option(value="언노운") 언노운
            option(value="엔진11") 엔진11
            option(value="콘스탄틴" selected) 콘스탄틴
            option(value="삼천리" ) 삼천리
            option(value="CELLO") CELLO 
            option(value="TREK") TREK
            option(value="메리다") 메리다
            option(value="스페셜라이즈드") 스페셜라이즈드
            option(value="엘파마") 엘파마
            option(value="위아위스") 위아위스
            option(value="기타" ) 기 
        input(type="submit" value="작성")


    each basket in baskets
        section.whole
            section.row
                div.basketBox_1
                    div.basketBox_img
                    div.basketBox_txt 
                        div 자전거 아이디:--#{basket.id} 번   
                        div 자전거 이름:----#{basket.title}
                        div 자전거 가격:----#{basket.brand} 만원
                        div 자전거 브랜드:--#{basket.price}
                        div 자전거 가격:----#{basket.userKey} 번
                        div 자전거 브랜드:--#{basket.bikeId} 번

    

                        form(action="basketDelete", method="POST")
                            input(type="hidden" name="id" value=basket.id)
                            input(type="submit" value="삭제하기")
                    hr
                    br
    each bike in bikes 
        section.reviewbike 
            div 자전거 아이디:--#{bike.id} 번   
            div 자전거 이름:---#{bike.title}
            div 자전거 가격:---#{bike.price} 만원
            div 자전거 브랜드:-#{bike.brand}
    
        hr
        br
