extends ../layouts/base.pug


block content 
    form(action="/bikeCreate", method="post")
        input(type="text" name="title"  placeholder="자전거 이름" required) 
        input(type="number"  name="price"  placeholder="가격" required) 
        input(type="text" name="content"  placeholder="내용" required) 
        input(type="text" name="weight"  placeholder="무게" required) 
        input(type="text" name="size"  placeholder="크기" required) 
        input(type="text" name="wheel"  placeholder="바퀴 사이즈" required)     
        input(type="text" name="brand"  placeholder="브랜드" required) 
        input(type="submit" value="작성")


    each bike in bikes
        section.whole
            section.row
                div.bikeBox_1
                    div.bikeBox_img
                    div.bikeBox_txt 
                        div 자전거 이름:---#{bike.title}
                        div 자전거 가격:---#{bike.price} 만원
                        div 자전거 내용:---#{bike.content} 
                        div 자전거 무게:---#{bike.weight} kg
                        div 자전거 크기:---#{bike.size} size
                        div 바퀴 사이즈:---#{bike.wheel} inch
                        div 자전거 브랜드:-#{bike.brand}

                        form(action="bikedDelete", method="POST")
                            input(type="hidden" name="id" value=bike.id)
                            input(type="submit" value="삭제하기")
                    hr
                     



