extends ../layouts/base.pug

block content
    section.mainSection 
        form(action="/main" method="get")
            button.linkBtn main  

    
        form.createForm(action="/reviewCreate", method="post")
            input(type="text" name="title" id="titile" required) 
            input(type="text" name="content" id="content" required) 
            input(type="submit" value="작성")

            each review in reviews
                div.mainreivews
                    div #{review.id}
                    div #{review.score}
                    div #{review.title}
                    div #{review.content}
                    div #{review.createdAt}
                br
                hr

