extends ../layouts/base.pug

block content
    form.reviewForm(action="/review/reviewCreate", method="post")
        SELECT.selectbox(name="score")
            option(value="1") 1점
            option(value="2") 2점
            option(value="3") 3점
            option(value="4") 4점
            option(value="5" selected) 5점
        input(type="text"   name="title"  placeholder="제목" required) 
        input(type="text"   name="content"  placeholder="내용" required) 
        input(type="number" name="userKey"  placeholder="유저키" required) 
        input(type="number" name="bikeId"  placeholder="바이크 아이디" required) 
        input(type="submit" value="작성")

    each review in reviews
        section.reviewwhole
            div.reviewBox_txt
                div 리뷰 아이디:---#{review.id}
                div 리뷰 평점:----#{review.score} 점
                div 리뷰 제목:----#{review.title} 
                div 리뷰 내용:----#{review.content} 
                div 리뷰 생성일:---#{review.createdAt} 
                div 리뷰 쓴사람:---#{review.userKey} 
                div 자전거아이디:---#{review.bikeId} 

                form(action="/review/reivewDelete", method="POST")
                    input(type="hidden" name="id" value=review.id)
                    input(type="submit" value="삭제하기")

                    hr
                    br
    each bike in bikes 
        section.reviewbike 
            div 자전거 아이디:--#{bike.id} 번   
            div 자전거 이름:---#{bike.title}
            div 자전거 가격:---#{bike.price} 만원
            div 자전거 브랜드:-#{bike.brand}
    
        hr
        br

    each user in users 
        section.userwbike 
            div 유저 아이디:--#{user.userKey} 번   
            div 유저 이름:---#{user.nickanme} 
        hr
        br
