extends ../layouts/base.pug

block content
    section.mainSection 
        form(action="/main" method="get")
            button.linkBtn main  

    
        form(action="/reviewCreate", method="post")
            SELECT(name="score")
                option(value="1") 1점
                option(value="2") 2점
                option(value="3") 3점
                option(value="4") 4점
                option(value="5" sleectd) 5점

            input(type="text" name="title" id="titile" placeholder="제목" required) 
            input(type="text" name="content" id="content" placeholder="내용" required) 
            input(type="submit" value="작성")

            each review in reviews
                div.mainreivews
                    div #{review.id}
                    div #{review.score}
                    div #{review.title}
                    div #{review.content}
                    div #{review.createdAt}
                br
                hr

