extends ../../layouts/base.pug

block content
    each review in reviews
        div.mainreivews
            div #{review.id}
            div #{review.score}
            div #{review.title}
            div #{review.content}
            div #{review.createdAt}
        br
        hr